cask_args appdir: '/Applications'
tap 'caskroom/cask'
tap 'caskroom/fonts'
tap 'homebrew/binary'
tap 'homebrew/core'
tap 'homebrew/fuse'
tap 'homebrew/php'
tap 'homebrew/python'
tap 'homebrew/versions'
tap 'homebrew/boneyard'
brew 'autoconf'
brew 'coreutils'
brew 'faac'
brew 'ffmpeg', args: ['with-faac']
brew 'freetype'
brew 'gcc'
brew 'gdbm'
brew 'gettext'
brew 'git'
brew 'git-extras'
brew 'go'
brew 'graphviz'
brew 'hub'
brew 'imagemagick', args: ['with-little-cms', 'with-little-cms2']
brew 'jpeg'
brew 'lame'
brew 'libffi'
brew 'libmemcached'
brew 'libpng'
brew 'libtiff'
brew 'libvorbis'
brew 'little-cms'
brew 'little-cms2'
brew 'mas'
brew 'memcached'
brew 'mercurial'
brew 'node'
brew 'openssl'
brew 'pcre'
brew 'pyenv'
brew 'python'
brew 'python3'
brew 'readline'
brew 'rtmpdump'
brew 'sphinx-doc'
brew 'sqlite'
brew 'ssh-copy-id'
brew 'texi2html'
brew 'webp'
brew 'wget'
brew 'zsh'
brew 'zsh-completions'

cask 'alfred'
cask 'font-fira-code'
cask 'firefox'
cask 'free-ruler'
cask 'gpgtools'
cask 'iterm2'
cask 'mamp'
cask 'slack'
cask 'sublime-text'
cask 'vagrant'
cask 'virtualbox'
